# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_path='/Users/ashwinabraham/Documents/GitHub/python-api-challenge/WeatherPy/cities.csv'
city_df=pd.read_csv(city_path)
city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Bonavista,93,CA,1584010295,89,48.65,-53.11,27.0,1.99
1,Arraial do Cabo,40,BR,1584010296,83,-22.97,-42.03,75.2,3.36
2,Lüderitz,0,NaN,1584010297,47,-26.65,15.16,78.8,9.17
3,Ushuaia,40,AR,1584010048,87,-54.80,-68.30,44.6,5.64
4,Hilo,90,US,1584010299,83,19.73,-155.09,69.8,10.29

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
gmaps.configure(api_key=g_key)
locations = city_df[["Lat", "Lng"]]
fig = gmaps.figure()
humidity = city_df["Humidity"].astype(float)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,  
                                 dissipating=False, max_intensity=10,
                                 point_radius=2)

fig=gmaps.figure()
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
narrow_city=pd.DataFrame(city_df, columns = ['City','Country','Cloudiness','Humidity','Max Temp','Wind Speed','Lat','Lng'])
cloudiness= narrow_city['Cloudiness'] < 5
humidity=narrow_city['Humidity'] <= 70
max_temp=(narrow_city['Max Temp'] <= 92) & (narrow_city['Max Temp'] >= 69 )
wind_speed=narrow_city['Wind Speed'] < 8
narrow_city=narrow_city[cloudiness & humidity & max_temp & wind_speed ]
narrow_city

,City,Country,Cloudiness,Humidity,Max Temp,Wind Speed,Lat,Lng
63,Charqueada,BR,0,67,75.00,3.24,-22.51,-47.78
101,Jintūr,IN,1,20,91.67,4.27,19.62,76.70
187,Taoudenni,ML,0,7,83.93,6.42,22.68,-3.98
223,Walvis Bay,NaN,3,60,71.60,6.93,-22.96,14.51
302,Kampong Chhnang,KH,3,38,89.87,7.18,12.17,104.55
346,Tura,IN,3,40,80.51,4.25,25.52,90.22
357,Port Blair,IN,0,61,80.87,3.87,11.67,92.75
392,Bubaque,GW,3,56,80.69,6.31,11.28,-15.83

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_df=narrow_city

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}


for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # assemble url and make API request
    print(f"Retrieving Results for {row['City']}.")
    response = requests.get(base_url, params=params).json()
    # print(json.dumps(response, indent=4, sort_keys=True))
    
    # extract results
    results = response['results']
    
    try:
        print(f"In 5000m radius the closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Data Not found")

Retrieving Results for Charqueada.
In 5000m radius the closest hotel is Hotel Serra do Itaqueri.
Retrieving Results for Jintūr.
In 5000m radius the closest hotel is TRIMBAKRAJ.
Retrieving Results for Taoudenni.
Data Not found
Retrieving Results for Walvis Bay.
In 5000m radius the closest hotel is Oyster Box Guesthouse.
Retrieving Results for Kampong Chhnang.
In 5000m radius the closest hotel is រមណីយដ្ឋាន ទឹកធ្លាក់ស្រែអំពិល.
Retrieving Results for Tura.
In 5000m radius the closest hotel is Hotel RIKMAN Continental.
Retrieving Results for Port Blair.
In 5000m radius the closest hotel is Fortune Resort Bay Island.
Retrieving Results for Bubaque.
In 5000m radius the closest hotel is Casa Dora.

In [6]:
hotel_df

,City,Country,Cloudiness,Humidity,Max Temp,Wind Speed,Lat,Lng,Hotel Name
63,Charqueada,BR,0,67,75.00,3.24,-22.51,-47.78,Hotel Serra do Itaqueri
101,Jintūr,IN,1,20,91.67,4.27,19.62,76.70,TRIMBAKRAJ
187,Taoudenni,ML,0,7,83.93,6.42,22.68,-3.98,NaN
223,Walvis Bay,NaN,3,60,71.60,6.93,-22.96,14.51,Oyster Box Guesthouse
302,Kampong Chhnang,KH,3,38,89.87,7.18,12.17,104.55,រមណីយដ្ឋាន ទឹកធ្លាក់ស្រែអំពិល
346,Tura,IN,3,40,80.51,4.25,25.52,90.22,Hotel RIKMAN Continental
357,Port Blair,IN,0,61,80.87,3.87,11.67,92.75,Fortune Resort Bay Island
392,Bubaque,GW,3,56,80.69,6.31,11.28,-15.83,Casa Dora

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map
# Create hotel symbol layer
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))